

.footer{
  background-color: var(--primary-color);
}

@media screen and (max-width: 500px) {
  .footer .social {
    width: 100%;
  }
  .social a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .footerLogo {
    width: 70px;
  }
}



@media screen and (max-width: 768px) {
  #footerLogos {
    height: 100%;
  }
}







.list-none{
  list-style-type: none;
}

.colabImage{
  width: 100%;
}



